<!DOCTYPE html>
<html>

<head>
    <title>
        
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        DATE
    </h1>
    <p>Today's date is: <%= info %>
    </p>
</body>

</html>